html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #e5e5e5;
  color: white;
}

#wrapper,
.intro {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-self: center;
}

#wrapper {
  background-color: #191765;
  padding: 10px;
  width: 340px;
  height: 630px;
}

.intro {
  height: 80px;
}

.portfolio_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.home_link {
  font-size: 18px;
  font-weight: 500;
}

.links {
  display: none;
}

.intro {
  align-items: center;
}

.developer {
  margin: 30px 0 10px;
  font-style: normal;
  font-size: 38px;
  line-height: 72px;
  color: #7d73fc;
}

.occupation {
  margin: 5px 0 20px;
  font-size: 26px;
  font-weight: 400;
  line-height: 20px;
  
}

.descriptive_paragraph {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-size: 17px;
  color: #c8c8d4;
  text-align: center;
  align-content: center;
  margin-top: 20px;
}

.description {
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #646369;
}

.abilities {
  display: flex;
  flex: 1 1 200px;
  align-self: center;
  gap: 1.5em;
}

.ability_column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 33.33333%;
  height: 200px;
  margin-top: 10px;
}

.ability_column li {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.ability_header {
  font-weight: 500;
  color: #7d73fc;
  font-size: 12px;
  line-height: 24px;
}



li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  width: 75px;
  padding: 0;
  margin-top: 0;
}

.skills ul {
  width: auto;
}

.social_media ul {
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  gap: 0.5em;
  width: fit-content;
  text-align: center;
  padding: 0 140px 0;
}
img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 0 50px 5px;
  width: 370px;
  height: 700px;
}