@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: #191765;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.intro {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  animation: name_drop 1.5s ease-in-out both;
}

.links,
.desktop_work_header,
.fa-envelope,
.fa-angellist,
.arrow_mobile {
  display: none;
}

.fa-bars {
  font-size: 1.5rem;
  color: white;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background:
    url("images/circle.png") -135px 40px no-repeat,
    url("images/circle.png") 300px 490px no-repeat;
  background-size: 60%;
  text-align: center;
  transition: background;
  transition-duration: 0.8s;
  transition-delay: 0.2s;
  animation: sliding 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.arrow_down {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #a2a3ae;
}

.headline_caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.home_link {
  font-size: 18px;
  font-weight: 500;
}

.logo {
  color: white;
}

.developer {
  margin-top: 63px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #7d73fc;
}

.occupation,
.work h3 {
  margin: 12px 24px 40px 24px;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
}

.occupation {
  animation: sliding 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.descriptive_paragraph {
  margin-bottom: 0;
  padding-bottom: 33px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #c8c8d4;
  max-width: 327px;
  border-bottom: 1px solid #646369;
  animation: sliding 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.ability {
  display: flex;
  justify-content: space-between;
  gap: 63px;
  flex-wrap: wrap;
  padding: 37px 44px;
  border-bottom: 1px solid #646369;
  max-width: 327px;
  animation: sliding 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.ability_column h3 {
  margin-bottom: 1rem;
  color: #7d73fc;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-align: start;
}

.ability_list li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.social_media_links,
.work ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.headline .social_media_links,
.arrow_down {
  margin-top: 58px;
  margin-bottom: 38px;
}

img {
  height: 236px;
  max-width: 327px;
  transition: all;
  transition-duration: 1s;
}

.work h2,
.contact_us h2 {
  font-weight: 700;
  font-size: 2.2em;
  color: #7d73fc;
}

.work h2 {
  width: 327px;
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  align-items: center;
}

#border_top {
  border-top: 1px solid #646369;
  padding-top: 96px;
}

.work h3 {
  margin: 0;
}

.work_element {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  max-width: 327px;
  gap: 3.5rem;
}

.work_border {
  padding-top: 3rem;
  border-top: 1px solid #646369;
}

.work {
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  background:
    url("images/Ellipse_19.png") -145px 20px no-repeat,
    url("images/Ellipse_20.png") 1610px 170px no-repeat,
    url("images/Ellipse_22.png") 1484px 975px no-repeat,
    url("images/Ellipse_21.png") -11px 1035px no-repeat;
  width: 100%;
  gap: 2.5rem;
  justify-items: center;
}

.work_info {
  margin-bottom: 1rem;
  margin-top: 3.5rem;
  max-width: 327px;
}

.work li {
  border-right: 2px solid #646369;
  padding-right: 0.7rem;
}

.work ul {
  margin-bottom: 1.5rem;
}

.languages {
  float: left;
}

.btn {
  font-size: 0.85rem;
  color: white;
  background-color: #9390ff;
  border: none;
  padding: 12px;
  height: 48px;
  gap: 10;
  transition: all;
  transition-duration: 1s;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  border-radius: 5px;
  color: #191765;
}

.btn:active {
  background-color: #5e42d7;
}

.btn:disabled {
  background-color: #2a2b33;
}

.btn:enabled {
  background-color: #7d73fc;
}

.contact_us {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin-top: 120px;
  text-align: center;
  padding: 0;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #3a3837;
}

.contact_us h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 71px;
}

.contact_us .work_info {
  text-align: center;
  max-width: 327px;
  margin: 24px 24px 40px 24px;
}

input {
  width: 350px;
  height: 50px;
  line-height: 30px;
  padding: 15px 16px;
  margin: 0 24px 24px 24px;
}

textarea {
  padding: 12px;
  margin: 0 24px 40px 24px;
}

.customer_info {
  width: 350px;
  height: 150px;
}

form button {
  width: 65px;
  height: 24px;
}

.btn_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
  margin-top: 25px;
}

input[type="email"]::-webkit-input-placeholder {
  color: #191765;
}

@media screen and (min-width: 768px) {
  .intro {
    display: flex;
    justify-content: space-around;
  }

  .fa-bars,
  .fa-envelope,
  .fa-angellist {
    display: none !important;
  }

  .mobile_work_header {
    display: none;
  }

  .links,
  .arrow_mobile,
  .desktop_work_header {
    display: block;
  }

  .portfolio_nav ul {
    display: flex;
    gap: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  .descriptive_paragraph {
    line-height: 32px;
    max-width: 447px;
    height: 155px;
  }

  .headline {
    background:
      url("images/circle.png") no-repeat left 40px,
      url("images/circle.png") no-repeat right 490px;
  }

  .ability {
    max-width: 446px;
    gap: 48px;
  }

  .ability_list ul {
    display: flex;
    flex-direction: column;
    gap: 4.78px;
  }

  .headline .social_media_links,
  .arrow_down {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 40px;
    margin: 0;
  }

  .headline_base {
    display: flex;
    gap: 345px;
    margin: 58px 0 38px 0;
  }

  .work {
    justify-items: normal;
    gap: 88px;
    margin-top: 250px;
    margin-bottom: 228px;
    background:
      url(images/desktop_work_background_half_one.png) 0 200px no-repeat,
      url(images/desktop_work_background_half_two.png) 1000px 760px no-repeat;
  }

  .work_element {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    max-width: 1156px;
  }

  .work_element_reverse {
    flex-direction: row-reverse;
  }

  img {
    max-width: 684px;
    height: 448px;
  }

  .work_info {
    max-width: 448px;
    margin: 0;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  .supporting_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    height: 405px;
  }

  form button {
    width: 160px;
  }

  .supporting_text button {
    float: left;
  }

  .work h2 {
    width: fit-content;
    font-weight: 700;
    font-size: 64px;
  }

  .contact_us .work_info {
    max-width: 684px;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 88px;
  }

  input,
  .customer_info {
    width: 684px;
    height: 48px;
  }

  .customer_info {
    height: 136px;
  }

  .contact_form {
    padding-bottom: 106px;
  }

  .btn_links {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
}

@keyframes name_drop {
  0% {
    transform: translateY(-500px);
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateY(0);
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateY(-65px);
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateY(0);
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateY(-28px);
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateY(0);
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateY(-8px);
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0);
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

@keyframes sliding {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
